@page "/addDep"
@using Referral.BackEnd.Interfaces
@using Referral.Models

@inject IDep _Dep
@inject IJSRuntime _js

<h3 style="font-family:Almarai;color:darkblue;" >
    <center>
        <b>
            اضافة قسم جديد
        </b>
    </center>
</h3>
<br />


<div style="font-family:Almarai;border:solid;padding:20px;background-color:whitesmoke;border-color:darkblue; border-radius:10px">
    <form @onsubmit="AddNewDepToDb" dir="rtl">
        <div class="row">
            <div class="col">
                <b><input @bind="NewDep.DepName" type="text" placeholder="ادخل اسم القسم..." required class="form-control" /></b>
                
            </div>
        </div>
        <br />
        <div>
            <div class="col">
                <button type="submit" class="btn btn-outline-primary form-control col-4"><b>اضف القسم</b></button>
            </div>
        </div>
    </form>
</div>






@code {
    public List<DepModel> ListOfAllDepts { get; set; } = new List<DepModel>();

    protected override async Task OnInitializedAsync()
    {
        ListOfAllDepts = await _Dep.GetAllDepts();
    }


    public DepModel NewDep { get; set; } = new DepModel();

    private async Task AddNewDepToDb()
    {
        var MessageFromRepo = await _Dep.AddNewDep(NewDep);

        await _js.InvokeVoidAsync("alert", MessageFromRepo);
        NewDep = new DepModel();

    }

}
